body {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: 1366px;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F1EDED;
  padding: 50px 0;
  height: auto;
  /* width: 270px;
  height: 237px; */
  max-height: 270px;
}

.partners.bg {
  background: #3E3E3E;
}

.partners.bgc {
  background: #BAB0A7;
}

.partners-carousel {
  background: #ffffff;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 30px 40px;
  width: 100%;
}

.partners-carousel .partners {
  box-sizing: border-box;
  margin: 0 0px;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  align-content: space-between;
}

.partners-carousel .partners-top {
  width: 100%;
}

.partners-carousel p,
.partners-carousel .partners-image,
.partners-carousel img.review-stars {
  margin: 0 0 10px 0;
}

.partners-carousel .partners-image {
  align-self: flex-start;
  width: 100%;
}

.partners-carousel p:first-child {
  margin: 0 0 5px 0;
}

.partners-image {
  padding-top: 5px;
}


.partners-carousel .partners-name {
  font-weight: bold;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 100%;
  font-size: 18px;
}

.partners-carousel .partners-name:nth-child(2) p {
  font-size: 14px;
}


.partners-carousel .partners-prices {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-flex: 1;
  flex: 1 0 100%;
  align-self: center;
  font-size: 10px;
}

.partners-carousel .partners-prices span {
  width: 100%;
}


/** ARROWS **/
i {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  position: absolute;
  top: calc(50% - 12px/2);
  cursor: pointer;
  z-index: 999;
}

@media only screen and (max-width: 768px) {
  i {
    display: none;
  }
}

.right {
  right: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  display: none;
  left: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/** SLICK SLIDER CSS **/
/* Slider */
.slick-slider {
  position: relative;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: -webkit-box;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

.slick-loading .slick-track {
  visibility: hidden;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* the slides */
.slick-slide {
  margin: 0 50px;
}

/* the parent */
.slick-list {
  margin: 0 -50px;
}

.slick-list {
  padding-left: 0px !important;
}

.slick-list {
  padding-right: 50px !important;
}

@media only screen and (max-width: 768px) {
  .slick-list {
    padding-right: 180px !important;
  }
}